<!DOCTYPE html>
<html lang="en">

{% load static %}
{%load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    {% if messages %}
    {%for message in messages%}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    <div class="row">
        <h2 class="text-center alert alert-danger">Bengal College Of Engineering and Technology</h2>
        <div class="col-sm-4 offset-4" style="text-align: center;">
            <h4 class="text-center alert alert-info">Login In Website</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="Submit" class="btn btn-success" value="LOGIN NOW">
            </form>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>